@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Supermercado+One&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url(./enr4.webp);
    width: 100%; 
}

h1{
    font-weight: bold;
}

.title{
    text-align: center;
   background-color: rgb(56, 177, 120);
    color: rgb(10, 10, 10);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: 85.98%;
    margin-left: 7.01%;
     
}

h2{
    color: rgb(9, 0, 12);
    text-align: center;
}

h1{
    color: rgb(0, 0, 0);
    text-align: center;
}

body>table{
    width: 86%;
    background: rgb(255, 255, 255);
    height: 630px;
    margin-left: 7%;  
}

table{
    border-collapse: collapse;
}

table.list{
    width: 100%;
    padding: 5px;
    height: 20px;
    align-items: center;
    border-collapse: collapse;
    background-color: rgb(56, 177, 120);  
}

td{
    
    border: 1px solid #18251d;
    text-align: left;
    padding: 25px;
}

th{
    border: 1px solid #18251d;
    text-align: left;
    padding: 8px; 
}

tr:nth-child(even),
table.list thead>tr {
    background-color: rgb(56, 177, 120);
    
}

input[type=text],
input[type=number],
input[type=email],
input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(56, 177, 120);
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]{
    width: 30%;
    background-color:rgb(1, 1, 32);
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 3px;
}

form div.form-action-buttons{
    text-align: center;
}

a{
    cursor: pointer;
    width: 20%;
    background-color: rgb(56, 177, 120);
    color: white;
    padding: 2px 2px;
    margin: 3px;
    border: none;
    cursor: pointer;
}

label.validation-error {
    color: #000000;
    margin-left: 5px;
}

.hide{
    display: none;
}
.righttable{
  
    
   
}